* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.left_Side {
    position: relative;
    background: #003147;
    padding: 40px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.imgBox {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2 {
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.4em;
}

.profileText h2 span {
    font-size: 0.5em;
    font-weight: 200;
}

.contactInfo {
    padding-top: 40px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contactInfo ul li span {
    color: #fff;
    font-weight: 600;
}

h2 {
    color: white;
}

.education li {
    margin-bottom: 10px;
    color: white;
}

.education h5 {
    color: #03a9f4;
    font-weight: 600;
}

.education h4 {
    color: #fff;
    font-weight: 300;
}

.education h6 {
    color: gray;
    font-weight: 300;
}

.language li {
    color: white;
}

.language .percent {
    position: relative;
    width: 100%;
    height: 6px;
    background: gray;
    display: block;
    margin-top: 5px;
}

.language .percent div {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: lightblue;
}

.right_Side {
    position: relative;
    background: #fff;
    padding: 40px;
}

.about {
    margin: 20px;
}

.about:last-child {
    margin: 0;
}


.prof {
    color:#003146;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: rgb(54, 53, 53);
    margin-bottom: 5px;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;


}

.about .box .year {
    min-width: 150px;

}

.about .box .year h5 {
    text-transform: uppercase;
    color: #848c90;

}

.about .box .text h4 {
    text-transform: uppercase;
    color: rgb(0, 49, 70);
    font-size: 16px;
}

.interest {

    color: #003146;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;

}

.interest .box {
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;

}

.interest .box h4 {
    text-transform: uppercase;
    color: #848c89;
    font-weight: 500;

}

.interest .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0

}



